@import "./responsive.scss";

.layout {
  height: 100vh;
  max-width: 966px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @include lg {
    background-color: coral;
    max-width: 870px;
  }

  @include md {
    background-color: blue;
    max-width: 648px;
  }

  @include sm {
    background-color: red;
    max-width: 540px;
  }

  .content {
    height: calc(100vh - 100px);
  }
}
